<h1>All Teams</h1>
<h2>
<table>
  <tr>
    <th>Team</th>
  </tr>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to(team.name, team_path(team)) %></td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td><%= link_to "edit", edit_team_path(team) %></td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td><%= link_to "delete", team_path(team), method: :delete, data: {confirm: "Really want to delete this team?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</h2>

<h4><%= link_to "Add a New Team", new_team_path %></h4>

<br />
<br />

