<h1>All Positions</h1>
<h2>
<table>
  <tr>
    <th>Position</th>
  </tr>
  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= link_to(position.name, position_path(position)) %></td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td><%= link_to "edit", edit_position_path(position) %></td>
        <td>&nbsp 
        </td>
        <td>&nbsp 
        </td>
        <td><%= link_to "delete", position_path(position), method: :delete, data: {confirm: "Really want to delete this position?"}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</h2>

<h4><%= link_to "Add a New Position", new_position_path %></h4>

<br />
<br />

