<%= link_to "Back to All Authors", authors_path %>

<p>
   <strong>Author First Name:</strong> <%= @author.first_name %>
 </p>
 
 <p>
   <strong>Author Last Name:</strong> <%= @author.last_name %>
 </p>